.Host {
    background-color: rgba(250, 250, 250, 1);    
}

.Host > :nth-child(2) {
    padding: 16px;
}

.SearchForm {
    display       : flex;
    flex-direction: column;
}

.SearchForm > :nth-child(n+2) {
    margin-left: 8px;
}

.SearchButton {
    position: absolute;
}
