.Host {
    display       : flex;
    flex-direction: column;
    max-width     : 100%;
    max-height    : 100%;
    min-width     : 100%;
    min-height    : 100%;
}

.Host > :nth-child(2) {
    flex-grow: 1;
}

.Header {
    min-width: max-content;
}

.Summary {
    padding: 0 16px;
}

.Summary > :nth-child(n+2) {
    margin-top: 16px;
}

.NewEventButton {
    align-self: flex-end;
}
