.Host {
    display       : flex;
    flex-direction: column;
    max-width     : 100%;
    max-height    : 100%;
    min-width     : 100%;
    min-height    : 100%;
}

.Host > :nth-child(2) {
    flex-grow: 1;
}

.Header {
}

.Header > :nth-child(1) {
    padding: 8px;
}

.NewEventButton {
    align-self: flex-end;
}
