.Host {
    display    : inline-block;
    font-size  : 13px;
    font-weight: bolder;
    text-align : center;
    transition : all .3s ease-out;
}

.Host > :nth-child(1) {
    box-sizing   : border-box;
    border-bottom: 1px solid transparent;
    min-width    : 72px;
    padding      : 0px 24px;
}
