.PasswordSettingsView {
    display       : flex;
    flex-direction: column;
    min-width     : max-content;
    padding       : 16px;
}

.PasswordSettingsView form {
    display         : flex;
    flex-direction  : column;
    margin-top      : 16px;
    padding         : 8px;
    background-color: #fff;
}

.PasswordSettingsView label {
    margin-bottom: 8px;
}

.PasswordSettingsView input {
    margin          : 8px;
    padding         : 4px 8px;
    border          : 1px solid #ccc;
    border-radius   : 2px;
    background-color: #fff;
    color           : #777;
}

.PasswordSettingsView button {
    width           : 128px;
    margin          : 8px 8px;
    padding         : 4px;
    border          : 1px solid #357ebd;
    background-color: #428bca;
    color           : #fff;
}

.CancelButton {
    display         : inline-block;
    width           : 128px;
    margin          : 8px 8px;
    padding         : 4px;
    border          : 1px solid #bbb;
    background-color: #ccc;
    color           : #000;
    text-align      : center; 
    text-decoration : none;
}
