.Host {
    padding         : .5em 1em;
    border          : 1px solid #ddd;
    border-radius   : 2px;
    outline-width   : 0;
    background-color: transparent;
    font-family     : inherit;
    font-size       : inherit;
    transition      : all .3s ease-out;
}

.Host:hover,
.Host:focus {
    border-color: #09F;
}
