.EventListItem {
    display        : flex;
    flex-direction : row;
    padding        : 8px;
    border-radius  : 2px;
    color          : inherit;
    text-decoration: inherit;
    transition     : all .3s ease-out; 
}

.EventListItem:hover {
    background-color: rgba(0, 0, 0, .05);
}

.EventListItem > :nth-child(2) {
    align-self : center;
    margin-left: 8px;
    padding    : 8px;
    flex-grow  : 1;
}

.EventImage {
    display   : block;
}

.EventDate {
    color     : #777;
    font-size : .9em;
}

.EventTitle {
    font-size  : inherit;
    font-weight: inherit;
}
