.Host {
    overflow    : auto;
    border-right: 1px solid #DDD;
    max-width   : 280px;
    min-width   : max-content;
    font-family : "Roboto", sans-serif;
    font-weight : bolder;
    transition  : all .3s ease-out;
}

.Host.Hidden {
    overflow : hidden;
    max-width: 0;
}

.Host.Visible {
    max-width: 280px;
}

.Host ul {
    min-width: max-content;    
}

.Host li {
    font-size  : 14px;
    font-weight: bolder;
    color      : rgba(0, 0, 0, .8);
}

.Host li > :nth-child(1) > :nth-child(1) {
    font-size  : 20px;
    font-weight: normal;
    color      :rgba(0, 0, 0, .54);
}

.Host li > :nth-child(1) > :nth-child(1) {
    font-size  : 20px;
    font-weight: normal;
    color      :rgba(0, 0, 0, .54);
}
