.Host {
    overflow        : auto;
    max-width       : 280px;
    min-width       : max-content;
    background-color: #FFF;
    font-family     : "Roboto", sans-serif;
    font-weight     : bolder;
    transition      : all .3s ease-in-out;
}

.Host.Floating {
    position: fixed;
    top     : 0;
    height  : 100%;
}

.Host:not(.Floating) {
    border-right: 1px solid #DDD;    
}

.Host li {
    min-width  : max-content;
    font-size  : .875em;
    font-weight: bolder;
    color      : rgba(0, 0, 0, .8);
}
