.Host {
    display       : flex;
    flex-direction: column;
    max-width     : 100%;
    max-height    : 100%;
    min-width     : 100%;
    min-height    : 100%;
}

.Host > :nth-child(1) > :nth-child(1) {
    padding: 8px;
}

.Host > :nth-child(2) {
    flex-grow: 1;
}

.Text {
    margin-left: 8px;
}

.Text > * {
    margin : 0;
    padding: 0;
}
