.FilePage {
    display       : flex;
    flex-direction: column;
    min-width     : max-content;
}

.FilePage > :nth-child(1) {
    position: relative;
    padding : 16px;
}

.FilePage > :nth-child(1) > :nth-child(1) > :nth-child(n+2) {
    margin-top: 16px;
}

.FilePage > :nth-child(2) {
    min-width: 100%;
}

.FilePage > :nth-child(1) > :nth-child(2):not(table) {
    padding  : 16px;
    flex-grow: 1;
}

.FilePage label {
    display: block;
    cursor : pointer;
}

.PopupBackground {
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 100%;
    cursor  : default;
}

.PopupListItemA {
    display        : block;
    padding        : 8px;
    color          : inherit;
    font-size      : 12px;
    text-decoration: none;
    cursor         : pointer;
    transition     : all .3s ease-out;
}

.PopupListItemA:hover {
    background-color: rgba(0, 0, 0, .05);
}
