.Host {
    display       : flex;
    flex-direction: column;
    min-height    : 320px;
}

.Host > input {
    display: none;
}

.Toolbar {
    display         : flex;
    min-width       : max-content;
    align-items     : center;
    background-color: rgba(0, 0, 0, .05);
    font-size       : .6875em;
}

.Content {
    outline-width: 0;
    flex-grow    : 1;
    border       : 1px solid rgba(0, 0, 0, .12);
    padding      : 8px;
}
