.Host {
    position  : absolute;
    overflow  : hidden;
    transition: all .3s ease-out;
}

.Host > :nth-child(1) {
    overflow        : auto;
    min-width       : max-content;
    min-height      : max-content;
    background-color: #FFF;
}
