@keyframes visible {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: hidden;
    }
}

.Host {
    position        : absolute;
    background-color: #FFF;
    transition      : all .3s ease-out;
}

.Host.Hidden {
    overflow: hidden;
}

.Host.Visible {
    overflow : visible;
    animation: visible ease-out .3s backwards;
}
