.FormButton {
    display         : inline-block;
    width           : 8em;
    padding         : 4px;
    border          : 1px solid #09F;
    border-radius   : 2px;
    background-color: #09F;
    color           : #FFF;
    font-size       : 14px;
    text-align      : center;
    cursor          : pointer;
    transition      : all .3s ease-out;
}

.FormButton:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24);
}
