.NavigationBar {
    overflow    : auto;
    border-right: 1px solid #CCC;
    font-size   : 12px;
}

.Profile {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    margin-bottom : 16px;
    padding       : 16px 8px;
    font-size     : 14px;
    cursor        : pointer;
    transition    : all .3s ease-out;
}

.Profile:hover {
    background-color: rgba(0, 0, 0, .1);
}

.UserImage {
    display            : block;
    min-width          : 32px;
    min-height         : 32px;
    margin-right       : 8px;
    border-radius      : 50%;
    background-position: center;
    background-size    : 100% auto;
    background-repeat  : no-repeat;
}

.Profile .UserNumber {
    white-space: nowrap;
}

.PopupBackground {
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 100%;
    cursor  : default;
}

.ListItemA,
.SelectedListItemA {
    display        : block;
    padding        : 16px 8px;
    border-left    : 2px solid unset;
    text-decoration: none;
    transition     : all .3s ease-out;
}

.ListItemA {
    color     : #777;
    transition: all .3s ease-out;
}

.ListItemA:hover {
    color: unset;
}

.SelectedListItemA {
    border-left-color: #09F;
    color            : unset;
}

.PopupListItemA {
    display        : block;
    padding        : 8px;
    color          : unset;
    font-size      : 12px;
    text-decoration: none;
    cursor         : pointer;
    transition     : all .3s ease-out;
}

.PopupListItemA:hover {
    background-color: #CCC;
}

.Icon::before {
    display     : inline-block;
    width       : 1.2em;
    height      : 1.2em;
    margin-right: 8px;
    font-family : "FontAwesome";
    font-size   : 1.2em;
    text-align  : center;
    content     : "";
}

.ArchiveIcon {
    composes: Icon;
}

.ArchiveIcon::before {
    content: "\F0A0";
}

.CalendarIcon {
    composes: Icon;
}

.CalendarIcon::before {
    content: "\F073";
}

.CogIcon {
    composes: Icon;
}

.CogIcon::before {
    content: "\F013";
}

.DashboardIcon {
    composes: Icon;
}

.DashboardIcon::before {
    content: "\F0E4";
}

.EnvelopeIcon {
    composes: Icon;
}

.EnvelopeIcon::before {
    content: "\F0E0";
}

.FeedbackIcon {
    composes: Icon;
}

.FeedbackIcon::before {
    content: "\F27B";
}

.LinkIcon {
    composes: Icon;
}

.LinkIcon::before {
    content: "\F0C1";
}

.QuestionIcon {
    composes: Icon;
}

.QuestionIcon::before {
    content: "\F128";
}

.SignOutIcon {
    composes: Icon;
}

.SignOutIcon::before {
    content: "\F08B";
}

.TasksIcon {
    composes: Icon;
}

.TasksIcon::before {
    content: "\F0AE";
}

.UserIcon {
    composes: Icon;
}

.UserIcon::before {
    content: "\F007";
}

.UsersIcon {
    composes: Icon;
}

.UsersIcon::before {
    content: "\F0C0";
}
