.NavigationBar {
    overflow    : auto;
    border-right: 1px solid rgba(0, 0, 0, .1);
    font-size   : 12px;
}

.Profile {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 16px;
    font-size     : 14px;
    cursor        : pointer;
    transition    : all .3s ease-out;
}

.Profile:hover {
    background-color: rgba(0, 0, 0, .05);
}

.UserImage {
    display            : inline-block;
    min-width          : 24px;
    min-height         : 24px;
    margin-right       : 32px;
    border-radius      : 50%;
    background-position: center;
    background-size    : cover;
    font-size          : 1.4em;
}

.Profile .UserNumber {
    white-space: nowrap;
}

.PopupCard {
    background-color: #FFF;
}

.ListItemA a,
.SelectedListItemA a {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    height         : 48px;
    padding        : 0 16px;
    color          : inherit;
    font-size      : 14px;
    font-weight    : bolder;
    text-decoration: none;
    transition     : all .3s ease-out;
}

.ListItemA a:hover,
.SelectedListItemA {
    background-color: rgba(0, 0, 0, .05);
}

.ListItemA         a > :nth-child(1),
.SelectedListItemA a > :nth-child(1),
.ListItemB         a > :nth-child(1) {
    margin-right: 32px;
}

.ListItemB {
    display        : block;
    padding        : 8px;
    color          : unset;
    font-size      : 12px;
    text-decoration: none;
    cursor         : pointer;
    transition     : all .3s ease-out;
}

.ListItemB:hover {
    background-color: rgba(0, 0, 0, .05);
}

.ListItemB > :nth-child(1) {
    min-width   : 1.2em;
    min-height  : 1.2em;
    line-height : 1.2em;
    margin-right: 16px;
}

.Icon {
    min-width  : 24px;
    min-height : 24px;
    color      : #777;
    font-size  : 1.4em;
    font-weight: normal;
    line-height: 24px;
}
