.Header {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    justify-content : space-between;
    padding         : 16px;
    border-bottom   : 1px solid #c9aa5f;
    background-color: #ffd777;
    color           : #fff;
}

.RightSide,
.LeftSide {
    display       : flex;
    flex-direction: row;
    align-items   : center;
}

.Logo {
    font-size     : 20px;
    font-weight   : 900;
    text-transform: uppercase;
}

.SignOutButton {
    align-self      : flex-end;
    padding         : 6px 8px;
    border-radius   : 4px;
    background-color: #68dff0;
    color           : #fff;
    font-size       : 11px;
    text-decoration : none;
}
