.NewEventPage {
    width  : max-content;
    padding: 0 16px;
}

.NewEventPage form {
    display         : flex;
    flex-direction  : column;
    align-items     : stretch;
    background-color: #FFF;
}

.NewEventPage form > :nth-child(1) {
    display  : flex;
    flex-wrap: wrap;
}
