.FileListItem {
    background-color: #FFF;
    transition      : all .3s ease-out;
}

.FileListItem:hover {
    background-color: rgba(0, 0, 0, .05);
}

.FileListItem td {
    padding: 0;
}

.Icon {
    margin-right: 32px;
    font-size   : 1.1em;
}

.FileLink {
    display        : block;
    padding        : 8px 16px;
    color          : inherit;
    font-weight    : normal;
    text-decoration: inherit;
}
