.Input {
    padding-bottom  : 8px;
    border-width    : 0;
    border-bottom   : 1px solid #DDD;
    outline-width   : 0;
    background-color: transparent;
    color           : inherit;
    font-family     : inherit;
    font-size       : inherit;
    transition      : all .3s ease-out;
}

.Input:hover,
.Input:focus {
    border-color: #09F;
}
