.Header {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    align-items     : center;
    min-height      : max-content;
    padding         : 8px 0;
    border-bottom   : 1px solid #CCC;
    background-color: #FFF;
    color           : #777;
}

.Logo {
    color         : #1b388d;
    font-size     : 20px;
    font-weight   : 900;
    text-transform: uppercase;
}
