@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.Host {
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    color          : rgba(0, 0, 0, .54);
    font-family    : "Material Icons";
    font-size      : 1.5em;
    font-weight    : normal;
    font-style     : normal;
    text-align     : center;
    text-rendering : optimizeLegibility;
    text-transform : none;
    letter-spacing : normal;
    word-wrap      : normal;
    white-space    : nowrap;
    direction      : ltr;

    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
