.Tab {
    display      : inline-block;
    min-width    : 72px;
    padding      : 8px 16px 8px 16px;
    border-bottom: 2px solid transparent;
    text-align   : center;
    transition   : all .3s ease-out;
}

.Tab:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2)
}
