.LinkPaper {
    display        : inline-block;
    box-shadow     : 0 2px 4px 0 rgba(0, 0, 0, .1);
    color          : inherit;
    text-decoration: inherit;
    cursor         : pointer;
    transition     : all .3s ease-out;
}

.LinkPaper:hover {
    box-shadow      : 0 2px 8px 0 rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05);
}
