.Host {
    display       : flex;
    flex-direction: column;
    align-items   : stretch;
    width         : 100%;
    min-width     : max-content;
    min-height    : 100%;
}

.Host > :nth-child(2) {
    flex-grow: 1;
}

.Header > :nth-child(1) {
    padding: 16px;
}

.HeaderInfo {
    display       : flex;
    flex-direction: row;
}

.HeaderInfo > :nth-child(1) {
    order: 1;
}

.EventDescription {
    width       : 100%;
    height      : 100%;
    border-width: 0px;
}

.CommentPage {
    display       : flex;
    flex-direction: column;
    height        : 100%;
}
