.Host {
    color           : rgba(0, 0, 0, .87);    
    background-color: #FFF;
    transition      : all .3s ease-out;
}

.Host:nth-child(1) {
    border-top-left-radius : 2px;
    border-top-right-radius: 2px;
}

.Host:nth-last-child(1) {
    border-bottom-left-radius : 2px;
    border-bottom-right-radius: 2px;
}

.Host.Selected {
    border-radius: 2px;
}

.Host.Selected:not(:nth-child(1)) {
    margin-top: 16px;
}

.Host.Selected:not(:nth-last-child(1)) {
    margin-bottom: 16px;
}

.Host::before {
    display   : block;
    border-top: 0 solid rgba(0, 0, 0, .12);
    content   : "";
}

.Host:not(.Selected) + .Host:not(.Selected)::before {
    border-top-width: 1px;
}

.Host .Icon {
    transition: all .3s ease-out;
}

.Host.Selected .Icon {
    transform: rotateZ(180deg);
}

.Host > :nth-child(1) {
    display    : flex;
    align-items: center;
    min-height : 48px;
    transition : all .3s ease-out;
}

.Host:not(.Disabled) > :nth-child(1) {
    cursor: pointer;
}

.Host:not(.Disabled) > :nth-child(1):hover {
    background-color: rgba(0, 0, 0, .05);
}

.Host > :nth-child(1) > :nth-child(1) {
    font-size  : .9375em;    
    white-space: nowrap;
}

.Host > :nth-child(1) > :nth-child(2) {
    overflow     : hidden;
    flex-grow    : 1;
    font-size    : .75em;
    color        : rgba(0, 0, 0, .54);
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.Host > :nth-child(1) > :nth-child(3) {
    color: rgba(0, 0, 0, .38);
}

.Host > :nth-child(1) > :not(:nth-child(2)) {
    padding: 0 16px;
}

.Host > :nth-child(2) {
    transition: all .3s ease-out;
}

@keyframes open {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: hidden;
    }
}

.Host.Selected > :nth-child(2) {
    overflow : auto;
    animation: open .3s ease-out backwards;
}

.Host:not(.Selected) > :nth-child(2) {
    overflow: hidden;
}

.Host > :nth-child(2) > * {
    padding: 8px 16px;
}
