.NavigationBar {
    position : relative;
    width    : 216px;
    font-size: 12px;
}

.List {
    position        : absolute;
    flex-direction  : column;
    overflow        : hidden;
    top             : 0;
    left            : 0;
    width           : 216px;
    height          : 100%;
    transition      : all .3s ease-out;
    background-color: #FFF;
}

.Profile {
    display       : flex;
    flex-grow     : 1;
    flex-direction: row;
    align-items   : center;
    padding       : 16px;
    font-size     : 14px;
    cursor        : pointer;
    transition    : all .3s ease-out;
}

.UserImage {
    display            : inline-block;
    min-width          : 24px;
    min-height         : 24px;
    margin-right       : 32px;
    border-radius      : 50%;
    background-position: center;
    background-size    : cover;
    font-size          : 1.4em;
}

.UserNumber {
    white-space: nowrap;
}

.ListItem {
    overflow  : hidden;
    min-height: 48px;
}

.ListItem a {
    display        : flex;
    flex-direction : row;
    min-height     : 48px;
    align-items    : center;
    padding        : 0 16px;
    outline-width  : 0; 
    color          : inherit;
    font-size      : 14px;
    font-weight    : bolder;
    text-decoration: none;
}

.ListItem a > :nth-child(1),
.SelectedListItem a > :nth-child(1) {
    margin-right: 32px;
}

.ListItemIcon {
    min-width  : 24px;
    min-height : 24px;
    color      : #777;
    font-size  : 1.4em;
    font-weight: normal;
    line-height: 24px;
}
