.FolderPage {
    display       : flex;
    flex-direction: column;
    min-width     : max-content;
}

.FolderPage > :nth-child(1) {
    position: relative;
    padding : 16px;
}

.FolderPage > :nth-child(1) > :nth-child(1) > :nth-child(n+2) {
    margin-top: 16px;
}

.FolderPage > :nth-child(2) {
    min-width: 100%;
}

.FolderPage > :nth-child(1) > :nth-child(2):not(table) {
    padding  : 16px;
    flex-grow: 1;
}

.FolderPage label {
    display: block;
    cursor : pointer;
}

.Breadcrumbs {
    flex-direction: row;
}

.Breadcrumbs li:nth-child(n+2):before {
    font-family: "FontAwesome";
    padding    : 16px;
    content    : "\F105";
}

.Popup {
    background-color: #FFF;
}

.PopupListItemA {
    display        : block;
    padding        : 8px;
    color          : inherit;
    font-size      : 12px;
    text-decoration: none;
    cursor         : pointer;
    transition     : all .3s ease-out;
}

.PopupListItemA:hover {
    background-color: rgba(0, 0, 0, .05);
    text-decoration : none;
}
