html,
body {
    margin          : 0;
    background-color: #FFF;
	color           : rgba(0, 0, 0, .87);
    text-rendering  : optimizeLegibility;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings  : 'liga';
}
