html,
body {
    margin          : 0;
    background-color: #FFF;
	color           : #111;
    text-rendering  : optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

select,
textarea {
    background-color: transparent;
    font-family     : inherit;
    font-size       : inherit;
}
