.FolderPage {
    display       : flex;
    flex-direction: column;
    align-items   : stretch;
    width         : 100%;
    min-width     : max-content;
    height        : 100%;
}

.FolderPage > :nth-child(1) {
    z-index: 1;
    padding: 16px;
}

.FolderPage > :nth-child(2) {
    overflow : auto;
    flex-grow: 1;
}

.FolderPage > :nth-child(2) > * {
    width    : 100%;
    min-width: max-content;
}

.FolderPage > :nth-child(2) > :not(table) {
    padding: 16px;
}
