.Toggle {
    display     : inline-block;
    margin-right: 16px;
    color       : #797979;
    font-family : "FontAwesome";
    font-size   : 20px;
    text-align  : center;
    content     : "\F0C9";
    cursor      : pointer;
}

.Toggle:hover {
    color: #898989;
}

.Toggle::before {
    content: "\F0C9";
}
