.FormButton {
    display         : inline-block;
    width           : 8em;
    margin          : 8px;
    padding         : 4px;
    border-width    : 0px;
    border-radius   : 2px;
    background-color: #58F;
    color           : #FFF;
    font-size       : 14px;
    text-align      : center;
}

.FormButton:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
