.EventDetailPage {
}

.Header {
    z-index: 1;
}

.Header > :nth-child(1) {
    padding: 16px;
}

.HeaderInfo {
    display       : flex;
    flex-direction: row;
}

.HeaderInfo > :nth-child(1) {
    order: 1;
}
