.EventCardList {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    margin-right   : -8px;
    margin-bottom  : -8px;
}

.EventCardList > * {
    margin-right : 8px;
    margin-bottom: 8px;
}
